body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}


header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100px;
  padding: 10px;
  background: white;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.title{
  color: #171717;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
}
.subtitle{
  color: #171717;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
}

.wild-pokemon{
  min-height: 300px;
  background: firebrick;
  padding: 15px;

}

.wild-pokemon h2{
  color: #F3F3F3;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;

}

.wild-pokemon .sprite{
  display: block;
  width: 150px;
  margin: 0px auto;

}

.wild-pokemon h3{
  color: #F3F3F3;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;

}

.wild-pokemon .catch-btn{
  width: 200px;
  height: 35px;
  display: block;
  margin:25px auto;
  background: #FFCE00;
  border:none;
  outline: none;
  color: #171717;
  font-weight: 700;
  cursor: pointer;

}

.wild-pokemon .catch-btn:active{

 background: #F7A800;

}
.pokedox{
  flex: 1;
  padding: 15px;
  display: flex;
  flex-flow:column;
  overflow: scroll;

}

.pokdex-list{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
  grid-gap:15px;


}

.pokedex-list .pokemon{

position: relative;
display: flex;
flex-flow: column;
min-height: 150px;
padding:15px;
background: #F3F3F3;



}

.pokedex-list .pokemon .remove{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: firebrick;
  color: #F3F3F3;
  font-size: 28px;
  cursor: pointer;

}

.pokedex-list .pokemon .sprite{
  width: 100%;
  





}



.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}



.icon {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin:auto;
  transition: 200ms all;
}

.stats{
  margin-bottom: 0 !important;
}

.underline{
  width: 60px;
  height: 2px;
  margin: 0 auto;
  background-color: #595761;
}

.card{
  /* outline-bottom-left-radius: 1.5rem !important; */
  /* outline-bottom-right-radius: 1.5rem !important; */
  min-height: 20vh !important;
  border-radius: 1rem !important;
  border: 1px solid black;
  
}



.card-img-container{
  background-color: #f5f3f4;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.card-body{
  background-color: #ffffff;
  border-bottom-left-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
}

.attack-bar{
  background-color: #F08030 !important;
}

.defense-bar{
  background-color:#F8D030 !important;
}

.hp-bar{
  background-color: #FF0000 !important;
}

.speed-bar{
  background-color: #F85888 !important;
}

.special-defense-bar{
  background-color: #78C850 !important;
}

.special-attack-bar{
  background-color: #6890F0 !important;
}


@media screen and (max-width:500px){

  .setMx{
     margin:0 auto;
  }




}